@media (max-width: 600px) {
    .new-text-container {
        top: 800px; 
        left: 10px; 
        right: 10px;
    }

    .new-line1 {
        font-size: 6vw; 
    }

    .new-line2 {
        font-size: 5.5vw; 
    }

    .new-line3 {
        font-size: 6vw; 
    }
}